<div class="container">
    <div class="row mt-5 mb-5">

        <div class="col-md-12">
            <div>
                <h3 class="text-center mb-4 text-monospace">Casdastre um produto </h3>

                <div class="form-group">
                    <label for="nome" class="text-monospace">Nome:</label>
                    <input type="text" name="nome" id="titulo" class="form-control" placeholder="Digite o nome do produto" [(ngModel)]="produto.nome">
                </div>

                <div class="form-group">
                    <label for="preço" class="text-monospace">Preço:</label>

                    <input name="texto" id="preco" cols="30" rows="4" class="form-control"  placeholder="Digite aqui o preço" [(ngModel)]="produto.preco">
                </div>


                <div class="form-group">
                    <label for="imagem" class="text-monospace">Imagem:</label>

                    <input name="imagem" id="imagem" cols="30" rows="4" class="form-control"  placeholder="Digite o URL da imagem" [(ngModel)]="produto.imagem">
                </div>

                <div class="form-group">
                    <label for="quantidade" class="text-monospace">Quantidade em estoque:</label>

                    <input name="quantidade" id="quantidade" cols="30" rows="4" class="form-control"  placeholder="Digite aqui a quantidade" [(ngModel)]="produto.qtEstoque">
                </div>

                
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-info w-25" (click)="Cadastrar()">Cadastrar</button>
                </div>
                
            </div>

            <hr class="mt-5 mb-5">
            
            <h3 class="text-monospace text-center mb-4">Bem vindo a nossa loja</h3>
            <div class="row">
                
                    <div class="card my-4 mx-4" *ngFor="let produto of listaProdutos | orderBy : key : reverse">

                        <div class="card-header"> 
                            <img src="{{ produto.imagem }}" alt="" >
                           
                        </div>
            
                        <div class="card-body text-center">
                            <h5 class="card-title"> {{ produto.nome }} </h5> 
                            <p class="card-text">Códido: {{ produto.id }}</p>
                            <p class="card-text">Preço: R{{ produto.preco | currency }}</p>
                            <p class="card-text">Quantidade em estoque: {{ produto.qtEstoque }}</p>
                      
                        </div>
                        <div class="row text-center my-3">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-outline-info " [routerLink]="['/put-produto', produto.id]" >
                                    Editar
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-outline-danger "  [routerLink]="['/delete-produto', produto.id]" >
                                    Apagar
                                </button>
                            </div>
                            <div class="col-md-3">

                            </div>
    
                        </div>
                    
                     
                </div>
            </div>
                

        </div>
    </div>

</div>