<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 caixa-1 md-mb-30 sm-mb-30">
                <h3>NOSSA HISTÓRIA</h3>
                <p>
                  Nascemos para espalhar a nossa alegria com todas as pessoas que passam por nós, venha ser feliz com a gente.
                </p>
                <button routerLink='/sobre' class="btn btn-outline-light w-100">SOBRE NÓS</button>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 caixa-2 md-mb-30 sm-mb-30">
                <h3>Contato</h3>
                <p>
                  Venha nos conhecer.
                </p>
                <button routerLink='/contact' class="btn btn-outline-light w-100">CONTATO</button>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 caixa-3 sm-mb-30">
                <h3>Redes Sociais</h3>
                <p>Siga-nos nas redes sociais!</p>
                <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            </div>
            
        </div>
    </div>
</div>

<div class="footer-bottom-text">Prodtos de qualidade desde 2020 &copy; Copyright Ivan Carlota.</div>
